.whole-body {
  display: flex
}

.header {
  padding: 1em;
  background-color: rgb(30, 99, 91);
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.sideBar {
  width: 30vw;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(30, 99, 91)
}

.main-content {
  width: 70vw;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.navBar {
  background-color: #075E54;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
    text-align: left;
    padding: 1.5em;
    border: none
}

td {
  cursor: pointer;
}

.tableRow {
  width: 100vw
}

/* tr:nth-child(even) {
  background-color: rgb(0, 77, 68);
  color: white;
  width: 100vw
}

tr:nth-child(odd) {
  background-color: rgb(48, 121, 78);
  color: white;
  width: 100vw
} */

tr:nth-child(even) {
  background-color: rgb(0, 77, 68);
  color: white;
  width: 100vw
}

tr:nth-child(odd) {
  background-color: rgb(48, 121, 78);
  color: white;
  width: 100vw
}



.profile-pic {
  border-radius: 50%;
  max-width: 5vw;
}

.system-bubble {
  margin-top: 1em;
  padding: 0.2em;
  position: relative;
	background: #f9fff3;
  border-radius: .4em;
  color: black;
  font-size: 0.7em;
  padding: 0.75em;
}

.system-bubble:after {
  content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
  border: 12px solid transparent;
	border-bottom-color: #f9fff3;
	border-top: 0;
	border-left: 0;
	margin-left: -6px;
	margin-top: -12px;
}

.chatbox {
  display: block;
  width: 100%;
  background-color: #075E54;
}

.form {
  display: flex;
  justify-content: center;
  padding: 2em  
  /* padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em */
}

.inputBar {
  width: 75%;
  padding: 10px;
  border-radius: 15px;
}

.inputBar:focus {
  outline: none;
}

.chatButton, .leaveButton {
  width: 25%;
  background-color: #DCF8C6;
  font-size: 1em;
  font-weight: bold;
  color: #075E54;
  display: inline;
  padding: 0.5em;
  margin-left: 1em;
  border-radius: 15px;
}

.chatButton:hover, .leaveButton:hover {
  background-color: rgb(184, 247, 136);
}

.chatButton:focus {
  outline: none;
}

.leaveContainer {
  padding: 2em;
  float: bottom;
  background-color: rgb(48, 121, 78);
}

.leaveButton {
  width: 90%;
  text-align: center;
}

.chat-log {
  /* background-color: rgb(255, 237, 215); */
  height: 100vh;
  padding-left: 1em;
  padding-right: 1em;
}

.scroll {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgb(48, 121, 78);;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  rgb(48, 121, 78);
}

.text-row {
  padding: 0.5em;
  
  /* padding-left: 1em;
  padding-right: 1em */
}

.system {
  font-style: italic;
  color: grey
}

.text-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.text-bubble {
  position: relative;
	background: rgb(48, 121, 78);
  border-radius: .4em;
  color: white;
  max-width: max-content;
  /* padding: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding: 3px; */
  padding: .5em;
  margin-left: 2em
}

.text-bubble:after {
  content: '';
	position: absolute;
	left: 0;
	top: 30%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: rgb(48, 121, 78);
	border-left: 0;
	border-top: 0;
	margin-top: -4px;
	margin-left: -8px;
}

.createdAt {
  color: grey;
  font-size: 0.3em;
  margin-bottom: 3px;
  margin-top: 2px;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}